// Views/Daireler/Delete.cshtml
@model AidatTakipSistemi.Models.Daire

@{
    ViewData["Title"] = "Daire Sil";
}

<h1>Daire Sil</h1>

<h3>Bu daireyi silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Daire Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Blok)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Blok)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Kat)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Kat)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DaireNo)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DaireNo)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.SahipAdi)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.SahipAdi)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.SakinAdi)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.SakinAdi)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>